@model IEnumerable<GigHub.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";
}

<h2>Aritsts I'm Following</h2>

<ul class="list-group">
    @foreach (var artist in Model)
    {
        <li class="list-group-item">@artist.Name</li>
    }
</ul>

