body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.field-validation-error {
    color: red;
    font-family: "Lato", sans-serif;
    font-weight: 700;
}

/* Overwritting bootstrap clasese */

.navbar-inverse {
    background-color: #ff4342;
    border-color: #080808;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.navbar-inverse .navbar-brand {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        background-color: rgba(205,40,39,0.55);
    }

.dropdown-menu {
    box-shadow: none;
}


.navbar-inverse .navbar-nav > .dropdown > a .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

body {
    font-size: 17px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: "Lato", sans-serif;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    font-size: 17px;
    height: 48px;
    -ms-border-radius: 9px;
    border-radius: 9px;
    padding: 10px;
    
}

.form-control:hover {
    border-color: #2196f3;
    box-shadow: none;

}

.btn {
/*    font-size: 17px;*/
/*    padding: 10px 25px;*/
    border-radius: 9px;
    -ms-border-radius: 9px;
}

.small-btn {
    display: inline-block;
}


.gigs {
    list-style: none;
    margin-top: 30px;
}

.gigs li {
    position: relative;
    margin-bottom: 60px;
}

.details {
    position: absolute;
    top: 0px;
    left: 70px;
}

.details span {
    display: block; 

}

.date {
    width: 60px;
    border-radius: 8px;
    text-align: center;
    background-color: red;

}

.month {
    color: white;
    padding: 2px 5px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: lato;
}

.day {
    background-color: #f7f7f7;
    font-size: 20px;
    padding: 3px 5px;
}

.artist {
    margin-top: 5px;
    font-weight: bold;
}

.genre {
    font-size: 15px;
    
}

.gigs >li .actions {
    font-size: 15px;
    display: none;
}

.gigs > li:hover .actions {
    display: block;

}